html {
    width: 98vw;
    background-color: black;
}

body {
    color: white;
    background-color: green;
    border: 5px dotted red;
    width: 95vw;
    margin: 5px;

    background-image: url("imagens-filmes/001-1-corte.jpg");
    background-repeat: no-repeat;
    /* background-origin:border-box; */
    background-position: top  right ;
    
}
        
h1 {
    padding: auto;
    text-align: center;
}

li> a {
    color: white;
    margin-left: 5px;
}

p {
    color: white;
    text-align: justify;
    text-indent: 30px;
    padding: 0px 15px;
    /* border: 2px solid black; */

    /* background-size: ; */
}

.main_Div {
    border: 1px solid black;
    width: 200px;
    height: 200px;

    background-image: url("imagens-filmes/Valerian.e.a.Cidade.dos.Mil.planetas-planeta-mul-002.jpg");
    background-position: center left 15%;
    /* background-size: contain; */
    background-size: cover;
    /* background-size: auto; */

}


    